extends layout

block content
  .container
    .jumbotron
      .container
        h1 How may I help you?
        p asdfasfasfasfasdfasfasfasfasdfasfasfasfasdfasfasfasfasdfasfasfas
        asdfasfasfasfasdfasfasfasfasdfasfasfasfasdfasfasfasfasdfasfasfasfa
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
