/*!
 * SmartAdmin v1.7.1 ()
 * Copyright 2011-2015 
 */
/*!
 * SmartAdmin - Responsive WebApp
 *
 * Copyright 2014 bootstraphunter.com
 * Designed and built with all the love in the world by @bootstraphunt.
 */
/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */
/* left side */
/* right side */
/* the color that flashes when you click on the first nav element */
/* the plus icon that appears on the parent nav when expanding and collapsing */
/* these values will only address the first parent in the entire nav */
/* the plus & minus icons */
/* margin top */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*
@import "smartadmin/plugin-bootstrap-tree.less"; // new with v1.5
@import "smartadmin/plugin-bootstrap-duallistbox.less"; // new with v1.5
@import "smartadmin/plugin-bootstrap-markdown.less";
@import "smartadmin/plugin-bootstrap-slider.less";
@import "smartadmin/plugin-bootstrap-tagsinput.less";
@import "smartadmin/plugin-bootstrap-timepicker.less";
@import "smartadmin/plugin-bootstrap-validator.less"; // new with v1.5
@import "smartadmin/plugin-cssemotions.less"; // new with v1.5
@import "smartadmin/plugin-clockpicker.less";
@import "smartadmin/plugin-colorpicker.less";
@import "smartadmin/plugin-dataTables.bootstrap.less";
@import "smartadmin/plugin-dataTables.colReorder.less";
@import "smartadmin/plugin-dataTables.colVis.less";
@import "smartadmin/plugin-dataTables.tableTools.less";
@import "smartadmin/plugin-dataTables.responsive.less";
@import "smartadmin/plugin-dataTables-cust.less";
@import "smartadmin/plugin-dropzone.less";
@import "smartadmin/plugin-easypiechart.less"; // new with v1.5
@import "smartadmin/plugin-fd-slider.less";
@import "smartadmin/plugin-fullcalendar.less";
@import "smartadmin/plugin-ion.less";
@import "smartadmin/plugin-jarviswidget.less";
@import "smartadmin/plugin-jcrop.less";
@import "smartadmin/plugin-jqgrid.less";
@import "smartadmin/plugin-jvectormap.less";
@import "smartadmin/plugin-select2.less";
@import "smartadmin/plugin-smartchat.less"; // new with v1.5
@import "smartadmin/plugin-xeditable.less";
@import "smartadmin/plugin-smart-notifications.less";
@import "smartadmin/plugin-sparklines.less";
@import "smartadmin/plugin-summernote.less";
@import "smartadmin/plugin-superbox.less";
@import "smartadmin/plugin-voicecommand.less";*/
