body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer{
  background: #f4f4f4;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  overflow: auto;
}
